<!-- views/partials/header.ejs -->
<div>
    <div id='headerTop'>
        <div id='headerLogo'>
            <h1>Welcome to ThoughtJot!</h1>
        </div>
        <div id='headerWelcome'>
            <h4> </h4>
        </div>
    </div>
    <ul class="nav navbar-nav">
        <li><a href="/new">Add new entry</a></li>
        <li><a href="/all">View all entries</a></li>
        <li><a href="/settings">Settings</a></li>
    </ul>
</div>