<!-- views/partials/header.ejs -->
<div>
    <h1>Welcome to ThoughtJot!</h1>
    <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
    </ul>
</div>