  <h3>Sign up for ThoughtJot</h3>
  <form id='signup'>
    <fieldset>
      <legend>Enter your information:</legend>

      <label for="username">Username</label> <br />
      <input type="text" name="username"> <br /> <br />

      <label for="email">Email</label> <br />
      <input type="email" name="email"> <br /> <br />

      <label for="fname">First Name</label> <br />
      <input type="text" name="fname"> <br /> <br />

      <label for="lname">Last Name</label> <br />
      <input type="text" name="lname"> <br /> <br />

      <label for="password">Password</label> <br />
      <input type="password" name="password"> <br /> <br />

      <label for="question">Recovery Question</label> <br />
      <input type="text" name="question"> <br /> <br />

      <label for="answer">Recovery Answer</label> <br />
      <input type="text" name="answer"> <br /> <br />
      
      <h4 id='formMessage'></h4>

      <div id="formButtons">
        <input type="button" onclick='createAccount(this)' value="Sign Up">
        <input type="reset" value="Cancel">
      </div> 
    </fieldset>
    <br />   
    <p>Already have an account? <span class='spanLink' onclick='getLoginScreen()'>Log in here!</span></p>
  </form>
