<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="utf-8" />
  <title>ThoughtJot Sign in Page</title>
  <script>
  </script>
</head>
<body>
<header>
     <h1>Welcome to ThoughtJot!</h1>
</header>
  <h3> <%= message %> </h3>
  <form action="/authenticate" method="post">
    <fieldset>
      <legend>Please sign in:</legend><br />
      <label for="username">Username or Email:</label> <br />
      <input type="text" name="username"> <br /> <br />
      <label for="password">Password</label> <br />
      <input type="password" name="password"> <br /> <br />
      <div id="formButtons">
        <input type="submit" value="Login">
        <input type="reset" value="Cancel">
      </div> 
    </fieldset>
    <br />   
    <p>Don't have an account? <a href="/signup">Sign up here!</a></p>
  </form>
</body>
</html>